@model AccountSignInViewModel

@using System.Security.Claims
@using System.Data.SqlClient
@using System.Collections
@using AspDotNetStorefront.Filters
@using AspDotNetStorefront.Auth


@functions{

	#region VARIABLES

	public enum StartStatus : int
	{
		NOTHING = 0,
		ERROR = 1,
		INSTALL = 2,
		PASSWORD_REQUEST = 3,
		PASSWORD_SEND = 4,
		PASSWORD_CHANGE = 5,
		PASSWORD_LOGIN_WITHOUT = 6,
		PASSWORD_LOGIN_WITH = 7
	};

	#region CONST

	private const string WEB_FILE_NAME_ADMIN = "adhoccharge.aspx";
	private const string WEB_FILE_NAME_THIS = "Skins";

	private const string CONTROLS_SIGNIN_MD5 = "";
	private const string CONTROLS_SIGNIN_FIND_NAME = "Controls Signing";
	private const string CONTROLS_SIGNIN_FIND_TEXT = "protected void ctrlRecoverPassword_VerifyingUser(object sender, LoginCancelEventArgs e)";

	private const string ADMIN_SIGNIN_MD5 = "";
	private const string ADMIN_SIGNIN_FIND_NAME = "Admin Signing";
	private const string ADMIN_SIGNIN_FIND_TEXT = "protected void btnRequestNewPassword_Click(object sender, EventArgs e)";

	private const string OPC_CONTRLS_LOGIN_PANEL_MD5 = "";
	private const string OPC_CONTROLS_LOGIN_PANEL_NAME = "OpcControls LoginPanel";
	private const string OPC_CONTROLS_LOGIN_PANEL_FIND_TEXT = "protected void ButtonForgotPassword_Click(object sender, EventArgs e)";

	private const string FIND_TEXT_NEW = "passwordResetMocoNew";
	private const string FIND_TEXT_OLD = "passwordResetMocoOld";

	private const string MESSAGE_ERROR = "An Error Has Occurred, Please Contact Moco";
	private const string MESSAGE_GOOD = "Forgot Password has been installed";
	private const string MESSAGE_REVERTED = "Forgot Password has been reverted";
	private const string MESSAGE_EXCEPTION = " has a problem.";

	#endregion

	#endregion

	#region METHODS

	#region PUBLIC

	[ValidateAntiForgeryToken]
	public bool runPasswordLoginWith()
	{

		bool returnValue = false;

		RequireSecurePage();
		NoticeProvider NoticeProvider = DependencyResolver.Current.GetService<NoticeProvider>();
		AspDotNetStorefront.StringResource.IStringResourceProvider StringResourceProvider = DependencyResolver.Current.GetService<AspDotNetStorefront.StringResource.IStringResourceProvider>();

		PasswordTokenInfo pti = getPasswordTokenInfo();

		if (pti.State)
		{
			Customer myCustomer = new Customer(pti.TokenInfo.CustomerID);

			if (myCustomer.IsRegistered)
			{

				string NewPassword = getKeyValueFromQueryOrForms("", "NewPassword");
				string NewPasswordConfirmation = getKeyValueFromQueryOrForms("", "NewPasswordConfirmation");
				bool strongPassword = false;

				System.Text.RegularExpressions.Match match = System.Text.RegularExpressions.Regex.Match(NewPassword, AppLogic.AppConfig("PasswordValidator"), System.Text.RegularExpressions.RegexOptions.Compiled);
				if (AppLogic.AppConfigBool("UseStrongPwd"))
				{
					strongPassword = true;
					match = System.Text.RegularExpressions.Regex.Match(NewPassword, AppLogic.AppConfig("StrongPasswordValidator"), System.Text.RegularExpressions.RegexOptions.Compiled);
				}

				if (!string.IsNullOrEmpty(NewPassword))
				{
					if (NewPassword.Length >= 7)
					{
						if (NewPassword.Length <= 50)
						{
							if (match.Success)
							{
								if (NewPassword.Equals(NewPasswordConfirmation))
								{

									if (myCustomer.IsAdminUser)
										Security.LogEvent("Admin Password Changed Success", "", myCustomer.CustomerID, myCustomer.CustomerID, 0);

									var newSaltedPassword = new Password(NewPassword, myCustomer.SaltKey);

									myCustomer.UpdateCustomer(new SqlParameter[] { new SqlParameter("Password", newSaltedPassword.SaltedPassword), new SqlParameter("SaltKey", newSaltedPassword.Salt), new SqlParameter("BadLogin", -1), new SqlParameter("PwdChangeRequired", false) });

									signCustomer(myCustomer);
									returnValue = true;
								}
								else
								{
									NoticeProvider.PushNotice(StringResourceProvider.GetString("signin.newpassword.mismatch"), NoticeType.Failure);
								}
							}
							else
							{
								NoticeProvider.PushNotice(StringResourceProvider.GetString(strongPassword ? "signin.newpassword.strongRegexFailure" : "signin.newpassword.normalRegexFailure"), NoticeType.Failure);
							}
						}
						else
						{

							NoticeProvider.PushNotice("You password must be 50 characters or less", NoticeType.Failure);
						}
					}
					else
					{
						NoticeProvider.PushNotice("You password must be 7 characters or more", NoticeType.Failure);
					}
				}
				else
				{
					NoticeProvider.PushNotice(StringResourceProvider.GetString("signin.password.required"), NoticeType.Failure);
				}
			}
		}

		return returnValue;
	}

	[ValidateAntiForgeryToken]
	public bool runPasswordLoginWithout()
	{
		bool returnValue = false;

		RequireSecurePage();

		PasswordTokenInfo pti = getPasswordTokenInfo();

		if (pti.State)
		{

			Customer myCustomer = new Customer(pti.TokenInfo.CustomerID);

			signCustomer(myCustomer);
			returnValue = true;
		}

		return returnValue;
	}

	[ValidateAntiForgeryToken]
	public string getPasswordRequest()
	{
		string returnValue = "";

		RequireSecurePage();

		string email = getKeyValueFromQueryOrForms("", "ForgotEmail");

		int skinId = AppLogic.DefaultSkinID();
		string localeSetting = Localization.GetDefaultLocale();

		if (string.IsNullOrEmpty(email))
		{
			returnValue = AppLogic.GetString("lostpassword.aspx.4", skinId, localeSetting);
		}
		else
		{

			Customer c = new Customer(email);
			if (!c.IsRegistered ||
				(c.IsAdminUser && !AppLogic.AppConfigBool("LostPassword.Password.CanAdminResetTheirPassword")) ||
				(c.IsAdminSuperUser && !AppLogic.AppConfigBool("LostPassword.Password.CanSuperAdminResetTheirPassword")))
			{
				returnValue = AppLogic.GetString("signin.aspx.25", c.SkinID, c.LocaleSetting);
			}
			else
			{
				bool emailWasSent = false;
				try
				{
					string folderPath = System.Web.HttpRuntime.AppDomainAppPath.Replace("/", "\\").TrimEnd('\\');
					string adminFolderName = getAdminFolderName(folderPath);

					int where = 1;

					string returnUrl = CommonLogic.QueryStringCanBeDangerousContent("returnurl");
					if (string.IsNullOrEmpty(returnUrl))
					{
						returnUrl = "";
					}

					if (-1 != returnUrl.IndexOf(Url.Action(ActionNames.Index, ControllerNames.Checkout), StringComparison.InvariantCultureIgnoreCase))
					{
						where = 3;
					}
					else if (-1 != returnUrl.IndexOf(adminFolderName, StringComparison.InvariantCultureIgnoreCase))
					{
						where = 2;
					}
					returnUrl = HttpUtility.UrlEncode(returnUrl);

					string passwordRequestTokenPackageName = AppLogic.AppConfig("XmlPackage.LostPassword.PasswordRequestToken", 0, true);

					byte[] bytCustID = BitConverter.GetBytes(c.CustomerID);
					byte[] bytRequestDt = BitConverter.GetBytes(DateTime.Now.ToBinary());
					byte[] bytWhere = BitConverter.GetBytes(where);
					byte[] bytEmail = System.Text.Encoding.UTF8.GetBytes(email);

					byte[] bytCustIDRequestEmail = new byte[bytCustID.Length + bytRequestDt.Length + bytWhere.Length + bytEmail.Length];
					System.Buffer.BlockCopy(bytCustID, 0, bytCustIDRequestEmail, 0, bytCustID.Length);
					System.Buffer.BlockCopy(bytRequestDt, 0, bytCustIDRequestEmail, bytCustID.Length, bytRequestDt.Length);
					System.Buffer.BlockCopy(bytWhere, 0, bytCustIDRequestEmail, bytCustID.Length + bytRequestDt.Length, bytWhere.Length);
					System.Buffer.BlockCopy(bytEmail, 0, bytCustIDRequestEmail, bytCustID.Length + bytRequestDt.Length + bytWhere.Length, bytEmail.Length);

					string prtString = Server.UrlEncode(Convert.ToBase64String(bytCustIDRequestEmail));

					string xmlPackageParameters = string.Format("prt={0}&thiscustomerid={1}&returnurl={2}", prtString, c.CustomerID, returnUrl);

					Parser parser = new Parser();
					Topic topic = new Topic("password.reset.email", localeSetting, c.SkinID, parser);

					string emailBody = topic.Contents;//?Activate=password_reset&passwordToken=EOUAALkxpYgkRNaIYW5kcmV3QG1vcnJpc29uY29uc3VsdGluZy1sbGMuY29t&returnURL=/checkout?returnUrl
					string url = AppLogic.GetStoreHTTPLocation(true).ToLowerInvariant().Replace(AppLogic.AdminDir().ToLowerInvariant() + "/", "").TrimEnd('/') +
						Url.Action("Signin", "Account", new { Activate = "password_reset", passwordToken = prtString, returnUrl });
					emailBody = emailBody.Replace("TOKEN_FORGOT_RETURN_URL", url);

					//string emailBody = AppLogic.RunXmlPackage(passwordRequestTokenPackageName, null, c, c.SkinID, string.Empty, xmlPackageParameters, false, false);

					string emailSubject = AppLogic.AppConfig("StoreName") + " " + AppLogic.GetString("lostpassword.aspx.6", c.SkinID, c.LocaleSetting);

					AppLogic.SendMail(subject: emailSubject, body: emailBody, useHtml: topic.HTMLOk, fromAddress: AppLogic.AppConfig("MailMe_FromAddress"), fromName: AppLogic.AppConfig("MailMe_FromAddress"), toAddress: email, toName: email, bccAddresses: string.Empty, server: AppLogic.MailServer());

					emailWasSent = true;
				}
				catch (Exception ex)
				{
					SysLog.LogException(ex, MessageTypeEnum.Unknown, MessageSeverityEnum.Error);
				}
				if (!emailWasSent)
				{
					returnValue = AppLogic.GetString("lostpassword.aspx.3", c.SkinID, c.LocaleSetting);
				}
				else
				{
					returnValue = AppLogic.GetString("lostpassword.aspx.2", c.SkinID, c.LocaleSetting);
				}
			}
		}

		return returnValue;
	}

	public StartStatus startup()
	{
		StartStatus returnValue = StartStatus.NOTHING;

		RequireSecurePage();

		string activate = null != ViewData["Activate"] ? ViewData["Activate"].ToString() : "";
		bool post = "POST" == this.Context.Request.HttpMethod;
		bool get = "GET" == this.Context.Request.HttpMethod;
		Customer customer = Context.GetCustomer();

		if (!string.IsNullOrWhiteSpace(activate))
		{
			switch (activate.ToLower())
			{
				case "setup":
					if (get && customer.IsRegistered && (customer.IsAdminUser || customer.IsAdminSuperUser))
					{
						returnValue = StartStatus.INSTALL;
					}
					break;
				case "password_request":
					returnValue = StartStatus.PASSWORD_REQUEST;
					break;
				case "password_send":
					returnValue = StartStatus.PASSWORD_SEND;
					break;
				case "password_reset":
					returnValue = StartStatus.PASSWORD_CHANGE;
					break;
				case "password_login_without":
					returnValue = StartStatus.PASSWORD_LOGIN_WITHOUT;
					break;
				case "password_login_with":
					returnValue = StartStatus.PASSWORD_LOGIN_WITH;
					break;
			}
		}

		return returnValue;
	}

	#endregion

	#region PROTECTED

	protected string getAdminFolderName(string folderPath)
	{

		string returnValue = AppLogic.AdminDir();
		if (!string.IsNullOrEmpty(returnValue))
		{

			if (!System.IO.File.Exists(folderPath + "\\" + returnValue + "\\" + WEB_FILE_NAME_ADMIN))
			{
				returnValue = "";
			}
		}

		if (string.IsNullOrEmpty(returnValue))
		{
			System.IO.DirectoryInfo di = new System.IO.DirectoryInfo(folderPath);
			System.IO.DirectoryInfo[] dis = di.GetDirectories("*", System.IO.SearchOption.TopDirectoryOnly);
			for (int g = 0; string.IsNullOrEmpty(returnValue) && g < dis.Length; g++)
			{
				if (System.IO.File.Exists(dis[g].FullName.TrimEnd('\\') + "\\" + WEB_FILE_NAME_ADMIN))
				{
					returnValue = dis[g].Name;
				}
			}
		}

		return returnValue;
	}

	protected string getKeyValueFromQueryOrForms(string queryKey, string formKey)
	{
		string returnValue = "";

		if (!string.IsNullOrWhiteSpace(queryKey))
		{
			returnValue = Server.UrlDecode(CommonLogic.QueryStringCanBeDangerousContent(queryKey));
		}

		if (string.IsNullOrEmpty(returnValue) && !string.IsNullOrEmpty(formKey))
		{

			var myForms = Context.Request.Form;
			for (var i = 0; string.IsNullOrEmpty(returnValue) && i < myForms.AllKeys.Count(); i++)
			{
				if (!string.IsNullOrEmpty(myForms[i]) && formKey == myForms.AllKeys[i])
				{
					returnValue = Server.UrlDecode(myForms[i]);
				}
			}
		}

		return returnValue;
	}

	protected string getBtnSignInText(int prtWhere)
	{
		string returnValue = "";

		switch (prtWhere)
		{
			case 3://CHECKOUT
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwith.checkout", Localization.GetDefaultLocale());
				break;
			case 2://ADMIN
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwith.admin", Localization.GetDefaultLocale());
				break;
			default:
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwith.website", Localization.GetDefaultLocale());
				break;
		}

		return returnValue;
	}

	protected string getBtnReturnText(int prtWhere)
	{
		string returnValue = "";

		switch (prtWhere)
		{
			case 3://CHECKOUT
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwithout.checkout", Localization.GetDefaultLocale());
				break;
			case 2://ADMIN
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwithout.admin", Localization.GetDefaultLocale());
				break;
			default:
				returnValue = AppLogic.GetString("password.reset.token.button_text.loginwithout.website", Localization.GetDefaultLocale());
				break;
		}

		return returnValue;
	}

	protected void signCustomer(Customer customer)
	{

		AspDotNetStorefront.Auth.IClaimsIdentityProvider ClaimsIdentityProvider = DependencyResolver.Current.GetService<AspDotNetStorefront.Auth.IClaimsIdentityProvider>();
		AspDotNetStorefront.Core.CartActionProvider CartActionProvider = DependencyResolver.Current.GetService<AspDotNetStorefront.Core.CartActionProvider>();
		AspDotNetStorefront.Core.CartActionProvider CaptchaStorageService = DependencyResolver.Current.GetService<AspDotNetStorefront.Core.CartActionProvider>();

		var signedInCustomer = Context.GetCustomer();

		if (!signedInCustomer.IsRegistered)
		{
			AppLogic.ExecuteSigninLogic(signedInCustomer, customer);
			signedInCustomer.ThisCustomerSession.UpdateCustomerSession(null, null);
		}

		// customer impersonation
		customer.ThisCustomerSession.ClearVal("IGD");
		customer.ThisCustomerSession.ClearVal("IGD_EDITINGORDER");


		ClaimsIdentity identity = null;

		//STORE_FRONT_VERSION 10.06+
		identity = ClaimsIdentityProvider.Create(customer);
		//STORE_FRONT_VERSION 10.00-
		//identity = ClaimsIdentityProvider.CreateClaimsIdentity(customer);

		Request
		.GetOwinContext()
		.Authentication
		.SignIn(
			properties: new Microsoft.Owin.Security.AuthenticationProperties
			{
				IsPersistent = false
			},
			identities: identity);

		// Consolidate any shopping cart items
		CartActionProvider.ConsolidateCartItems(customer, CartTypeEnum.ShoppingCart);
		CartActionProvider.ConsolidateCartItems(customer, CartTypeEnum.WishCart);
		returnToReturnUrl();

	}

	protected void RequireSecurePage()
	{

		// Redirect to HTTPS if needed
		if (AppLogic.IsAdminSite
			&& AppLogic.OnLiveServer()
			&& AppLogic.UseSSL()
			&& !CommonLogic.IsSecureConnection())
		{
			var secureUrl = new UriBuilder(Request.Url)
			{
				Scheme = Uri.UriSchemeHttps,
				Port = -1,
			};

			Response.Redirect(secureUrl.ToString());
		}

		// Set content security policy headers
		new ContentSecurityPolicy()
			.Enforce(new HttpResponseWrapper(HttpContext.Current.Response));

		// Disable caching
		Response.Cache.SetCacheability(HttpCacheability.NoCache);

	}

	#region SETUP

	protected SetupInfo setupPassword()
	{
		SetupInfo returnValue = new SetupInfo()
		{
			Items = new List<SetupLineItem>(),
			Message = "",
			State = false
		};

		string folderPath = "";
		string urlPath = "";
		string adminFolderPath = "";

		try
		{
			folderPath = System.Web.HttpRuntime.AppDomainAppPath.Replace("/", "\\").TrimEnd('\\');
			urlPath = Context.Request.Url.AbsoluteUri.Replace(Context.Request.Url.PathAndQuery, "").TrimEnd('/');
			adminFolderPath = getAdminDir(folderPath);

			using (var conn = DB.dbConn())
			{
				conn.Open();

				using (var command = conn.CreateCommand())
				{

					string adminUrl = urlPath + '/' + adminFolderPath;
					//returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "App Config" });
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "password.reset.token.time_elaped", "30", "ADMIN", "integer", "(Appconfig) Max time int minutes given to keep link active.", "Set to -1 to use default storefront forgot password.\r\nSet to 0 unlimited time to keep active."));
					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "*Set to -1 to use default storefront forgot password*" });
					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "*Set to 0 unlimited time to keep active*" });
					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });
					//returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "XmlPackage.LostPassword.PasswordRequestToken", "notification.lostpassword.requesttoken.xml.config", "XMLPACKAGE", "string", "(Appconfig) The name of the XmlPackage used to generate lost password messages sent to customers."));
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "LostPassword.Password.CanAdminResetTheirPassword", "true", "ADMIN", "boolean", "(Appconfig) Give Lost Password ability to reset admin passwords"));
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "LostPassword.Password.CanSuperAdminResetTheirPassword", "true", "ADMIN", "boolean", "(Appconfig) Give Lost Password ability to reset super admin passwords"));
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "LostPassword.Password.Button.Loginwithout", "true", "ADMIN", "boolean", "(Appconfig) Give the customer the ability to login without changing their password"));
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "LostPassword.Password.Button.Loginwith", "true", "ADMIN", "boolean", "(Appconfig) Give the customer the ability to changing their password"));
					returnValue.Items.Add(addListedHyperLinkAppConfigInsert(command, adminUrl, "LostPassword.Password.Signin.Page", "~/Views/Account/Signin.cshtml", "ADMIN", "string", "(Appconfig) If disabled, then rediret to old signin page"));

					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });

					returnValue.Items.Add(addListedHyperLinkStringResourceUpdate(command, adminUrl, "signin.aspx.16", "If you forgot your password, please enter the email address associated with your account below and we will email you a link to create a new password.  Passwords are not recoverable in the system, so if you lost your password, the only option is to reset it.", "(StringResource) Change message on forgot"));
					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.invalid", "This link is expired", "(StringResource) Change message on when client clicks on expired or invalid password reset token on email"));

					returnValue.Items.Add(addListedHyperLinkStringResourceUpdate(command, adminUrl, "lostpassword.aspx.2", "Your Password Has Been Sent. Please check your email.", "(StringResource) Email has been sent"));
					returnValue.Items.Add(addListedHyperLinkStringResourceUpdate(command, adminUrl, "lostpassword.aspx.3", "Your password has been changed, but we were unable to send you an email!", "(StringResource) Email has been sent but there was error in sending the email"));
					returnValue.Items.Add(addListedHyperLinkStringResourceUpdate(command, adminUrl, "lostpassword.aspx.4", "There is no registered user with that email address!", "(StringResource) Email has been sent but email doesnt exist in the the system"));
					returnValue.Items.Add(addListedHyperLinkStringResourceUpdate(command, adminUrl, "lostpassword.aspx.6", "Password", "(StringResource) Password Title"));
					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.logging", "Logging", "(StringResource) Customer is logged in"));

					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });

					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwithout.admin", "Login Without Reseting Password", "(StringResource) Button text for returning to admin pages without changing password"));
					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwith.admin", "Reset My Password", "(StringResource) Button text for returning to admin pages with changing password"));

					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });

					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwithout.checkout", "Continue Checkout", "(StringResource) Button text for returning to checkout with without changing password"));
					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwith.checkout", "Reset My Password", "(StringResource) Button text for returning checkout with changing password"));

					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });

					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwithout.website", "Login Without Reseting Password", "(StringResource) Button text for returning to website without changing password"));
					returnValue.Items.Add(addListedHyperLinkStringResourceInsert(command, adminUrl, "password.reset.token.button_text.loginwith.website", "Reset My Password", "(StringResource) Button text for returning to website with changing password"));

					returnValue.Items.Add(new SetupLineItem() { Spacer = true, ItemDescription = "-" });
					returnValue.Items.AddRange(addListedHyperLinkTopicInsert(command, adminUrl, "password.reset.email", "<div> <span class=\"im\"> <b>AspDotNetStorefront - Password Reset</b> <br> <br>By clicking the following link you will be logged in and required to change your password. <a href=\"TOKEN_FORGOT_RETURN_URL\" target=\"_blank\" d>Login here</a> <br> <br>If you are unable to click the link above, please copy and paste the following link into your browsers address bar: <br> </span> <a href=\"TOKEN_FORGOT_RETURN_URL\" target=\"_blank\">TOKEN_FORGOT_RETURN_URL</a> </div>", "(Topic) Email body"));

				}
			}

			returnValue.Message = MESSAGE_GOOD;
			returnValue.State = true;

		}
		catch (Exception ex)
		{

			SysLog.LogException(ex, MessageTypeEnum.Unknown, MessageSeverityEnum.Error);

			returnValue.Message = MESSAGE_ERROR;
		}

		foreach (DictionaryEntry dEntry in Context.Cache)
		{
			Context.Cache.Remove(dEntry.Key.ToString());
		}
		AppLogic.m_RestartApp();

		return returnValue;
	}

	protected int? getScalarInteger(System.Data.SqlClient.SqlCommand command)
	{
		int? returnValue = null;

		object item = command.ExecuteScalar();

		if (!(item is DBNull) && null != item)
		{
			int temp = 0;
			if (int.TryParse(item.ToString(), out temp))
			{
				returnValue = temp;
			}
		}

		return returnValue;
	}

	protected string sqlValue(string value)
	{
		return null != value ? "'" + value.Replace("'", "''") + "'" : "NULL";
	}

	protected List<SetupLineItem> addListedHyperLinkTopicInsert(System.Data.SqlClient.SqlCommand command, string adminUrl, string name, string html, string description)
	{
		List<SetupLineItem> returnValue = new List<SetupLineItem>();

		int? id = null;
		int loop = 0;
		string querySelect = "";
		string queryInsert = "";

		var stores = Store.GetStoreList();
		foreach (var eachStore in stores)
		{
			id = null;
			loop = 0;
			querySelect = string.Format("SELECT TopicId AS N FROM Topic WHERE Deleted = 0 AND Name={0} AND StoreID ={1}", sqlValue(name), eachStore.StoreID);
			queryInsert = string.Format("INSERT INTO dbo.Topic (Name, Title, description, ShowInSiteMap, SkinID, Deleted, RequiresDisclaimer, HTMLOk, DisplayOrder, StoreID, Published, IsFrequent) VALUES ({0}, {0}, {1}, 0, 0, 0, 0, 1, 0, {2}, 1, 1 );", sqlValue(name), sqlValue(html), eachStore.StoreID);
			//string queryInsertStore = string.Format("SELECT TopicID, s.StoreID FROM dbo.Topic AS t, dbo.Store as s WHERE t.Deleted = 0 AND t.name = {0} AND s.Deleted =0 AND t.StoreID <> s.StoreID", sqlValue(name));


			while (!id.HasValue && loop < 5)
			{
				command.CommandText = querySelect;
				id = getScalarInteger(command);

				if (!id.HasValue)
				{
					command.CommandText = queryInsert;
					command.ExecuteNonQuery();

					//command.CommandText = queryInsertStore;
					//command.ExecuteNonQuery();
				}
				loop++;
			}

			if (loop >= 5)
			{
				throw new Exception("Password Reset's TOPIC StackOverflow");
			}

			returnValue.Add(new SetupLineItem()
			{
				ItemDescription = description + " For Store: " + eachStore.Name,
				ItemName = "View/Change",
				ItemUrl = adminUrl + "/topic.aspx?topicid=" + id.Value,
				Spacer = false,
			});
		}

		return returnValue;
	}

	protected SetupLineItem addListedHyperLinkAppConfigInsert(System.Data.SqlClient.SqlCommand command, string adminUrl, string name, string configValue, string groupName, string valueType, string description, string descriptionAdditional = "")
	{
		SetupLineItem returnValue = null;

		string querySelect = string.Format("SELECT AppConfigID AS N FROM AppConfig WHERE Name={0}", sqlValue(name));
		string queryInsert = string.Format("INSERT INTO AppConfig (Name, ConfigValue, GroupName, ValueType, Description) VALUES ({0}, {1}, {2}, {3}, {4})", sqlValue(name), sqlValue(configValue), sqlValue(groupName), sqlValue(valueType), sqlValue(description + "\r\n" + descriptionAdditional));

		int? id = null;
		int loop = 0;

		while (!id.HasValue && loop < 5)
		{
			command.CommandText = querySelect;
			id = getScalarInteger(command);

			if (!id.HasValue)
			{
				command.CommandText = queryInsert;
				command.ExecuteNonQuery();
			}
			loop++;
		}

		if (loop >= 5)
		{
			throw new Exception("Password Reset's Appconfig StackOverflow");
		}

		returnValue = new SetupLineItem()
		{
			ItemDescription = description,
			ItemName = "View/Change",
			ItemUrl = adminUrl + "/config.aspx?mode=appconfig&id=" + id.Value,
			Spacer = false,
		};

		return returnValue;
	}

	protected SetupLineItem addListedHyperLinkStringResourceInsert(System.Data.SqlClient.SqlCommand command, string adminUrl, string name, string configValue, string description)
	{
		SetupLineItem returnValue = null;

		string querySelect = string.Format("SELECT StringResourceID AS N FROM StringResource WHERE Name={0}", sqlValue(name));
		string queryInsert = string.Format("INSERT INTO StringResource (Name, ConfigValue, LocaleSetting, Modified) VALUES ({0}, {1}, {2}, 0)", sqlValue(name), sqlValue(configValue), sqlValue(Localization.GetDefaultLocale()));

		int? id = null;
		int loop = 0;

		while (!id.HasValue && loop < 5)
		{
			command.CommandText = querySelect;
			id = getScalarInteger(command);

			if (!id.HasValue)
			{
				command.CommandText = queryInsert;
				command.ExecuteNonQuery();
			}
			loop++;
		}

		if (loop >= 5)
		{
			throw new Exception("Password Reset's StringResource StackOverflow");
		}

		returnValue = new SetupLineItem()
		{
			ItemDescription = description,
			ItemName = "View/Change",
			ItemUrl = adminUrl + "/stringresource.aspx?stringid=" + id.Value,
			Spacer = false,
		};

		return returnValue;
	}

	protected SetupLineItem addListedHyperLinkStringResourceUpdate(System.Data.SqlClient.SqlCommand command, string adminUrl, string name, string configValue, string description)
	{
		SetupLineItem returnValue = null;

		command.CommandText = string.Format("UPDATE StringResource SET ConfigValue={0} WHERE Name={1}", sqlValue(configValue), sqlValue(name));
		command.ExecuteNonQuery();

		command.CommandText = string.Format("SELECT StringResourceID FROM dbo.StringResource WHERE Name={1}", sqlValue(configValue), sqlValue(name));
		int? id = getScalarInteger(command);

		returnValue = new SetupLineItem()
		{
			ItemDescription = description,
			ItemName = "View/Change",
			ItemUrl = adminUrl + "/stringresource.aspx?stringid=" + id.Value,
			Spacer = false,
		};

		return returnValue;
	}

	protected string getAdminDir(string folderPath)
	{
		string returnValue = AppLogic.AdminDir();

		if (!string.IsNullOrEmpty(returnValue))
		{

			if (!System.IO.File.Exists(folderPath + "\\" + returnValue + "\\" + WEB_FILE_NAME_ADMIN))
			{
				returnValue = "";
			}
		}

		if (string.IsNullOrEmpty(returnValue))
		{
			System.IO.DirectoryInfo di = new System.IO.DirectoryInfo(folderPath);
			System.IO.DirectoryInfo[] dis = di.GetDirectories("*", System.IO.SearchOption.TopDirectoryOnly);
			for (int g = 0; string.IsNullOrEmpty(returnValue) && g < dis.Length; g++)
			{
				if (System.IO.File.Exists(dis[g].FullName.TrimEnd('\\') + "\\" + WEB_FILE_NAME_ADMIN))
				{
					returnValue = dis[g].Name;
				}
			}
		}

		return returnValue;
	}

	protected string getMd5ofFile(string filePath)
	{
		string returnValue = "";

		using (var md5 = System.Security.Cryptography.MD5.Create())
		{
			if (System.IO.File.Exists(filePath))
			{
				using (var stream = System.IO.File.OpenRead(filePath))
				{
					returnValue = System.Text.Encoding.UTF8.GetString(md5.ComputeHash(stream));
				}
			}
		}

		return returnValue;
	}

	protected void returnToReturnUrl()
	{

		string returnUrl = getKeyValueFromQueryOrForms("returnurl", "returnurl");

		if (string.IsNullOrEmpty(returnUrl))
		{
			Response.Redirect("~/default.aspx");
		}
		else
		{
			Response.AddHeader("REFRESH", "1; URL=" + Server.UrlDecode(returnUrl));
		}
	}

	#endregion

	#region RESET

	protected PasswordTokenInfo getPasswordTokenInfo()
	{
		PasswordTokenInfo returnValue = new PasswordTokenInfo()
		{

			Message = "",
			State = false,
			PasswordToken = getKeyValueFromQueryOrForms("passwordToken", "PasswordToken"),
			TokenInfo = null,

		};

		Customer c = new Customer(true);
		returnValue.Message = AppLogic.GetString("password.reset.token.invalid", Localization.GetDefaultLocale());

		if (!string.IsNullOrEmpty(returnValue.PasswordToken))
		{
			try
			{
				returnValue.TokenInfo = decode(returnValue.PasswordToken);

				Double maxTimeElapsed = AppLogic.AppConfigNativeInt("password.reset.token.time_elaped");
				if (null != returnValue
					&& DateTime.Now > returnValue.TokenInfo.Created
					&& (0 == maxTimeElapsed || DateTime.Now < returnValue.TokenInfo.Created.AddMinutes(maxTimeElapsed)))
				{
					c = new Customer(returnValue.TokenInfo.CustomerID);
					//Check if customer reset password after token was generated but before it expired
					if (!(c.PwdChanged > returnValue.TokenInfo.Created))
					{
						returnValue.State = true;
					}
				}
			}
			catch (Exception ex)
			{
				SysLog.LogException(ex, MessageTypeEnum.Unknown, MessageSeverityEnum.Error);
			}
		}

		return returnValue;
	}

	protected PasswordRequestToken decode(string prt)
	{
		PasswordRequestToken returnValue = null;
		byte[] bytCustIDRequestEmail = null;

		try
		{
			bytCustIDRequestEmail = Convert.FromBase64String(prt);
		}
		catch (FormatException fe)
		{

			if (prt.Contains(" "))
			{
				prt = prt.Replace(" ", "+");
				bytCustIDRequestEmail = Convert.FromBase64String(prt);
			}
			else
			{
				throw new FormatException("Unable to counter formatting exception", fe);
			}
		}

		byte[] bytCustID = new byte[sizeof(int)];
		byte[] bytRequestDt = new byte[sizeof(long)];
		byte[] bytWhere = new byte[sizeof(int)];
		byte[] bytEmail = new byte[bytCustIDRequestEmail.Length - (bytCustID.Length + bytWhere.Length + bytRequestDt.Length)];

		System.Buffer.BlockCopy(bytCustIDRequestEmail, 0, bytCustID, 0, bytCustID.Length);
		System.Buffer.BlockCopy(bytCustIDRequestEmail, bytCustID.Length, bytRequestDt, 0, bytRequestDt.Length);
		System.Buffer.BlockCopy(bytCustIDRequestEmail, bytCustID.Length + bytRequestDt.Length, bytWhere, 0, bytWhere.Length);
		System.Buffer.BlockCopy(bytCustIDRequestEmail, bytCustID.Length + bytRequestDt.Length + bytWhere.Length, bytEmail, 0, bytEmail.Length);

		returnValue = new PasswordRequestToken
		{
			CustomerID = BitConverter.ToInt32(bytCustID, 0),
			Created = DateTime.FromBinary(BitConverter.ToInt64(bytRequestDt, 0)),
			EmailAddress = System.Text.Encoding.UTF8.GetString(bytEmail),
			Where = BitConverter.ToInt32(bytWhere, 0)
		};

		return returnValue;
	}

	#endregion

	#endregion

	#endregion

	#region MODELS

	public class SetupLineItem
	{
		public string ItemName { get; set; }

		public string ItemUrl { get; set; }

		public string ItemDescription { get; set; }

		public bool Spacer { get; set; }

	}

	public class BasicInfo
	{
		public bool State { get; set; }

		public string Message { get; set; }

	}

	public class SetupInfo : BasicInfo
	{

		public List<SetupLineItem> Items { get; set; }

	}

	public class PasswordTokenInfo : BasicInfo
	{

		public PasswordRequestToken TokenInfo { get; set; }

		public string PasswordToken { get; set; }

	}

	public class PasswordRequestToken
	{
		public int Where { get; set; }

		public int CustomerID { get; set; }

		public string EmailAddress { get; set; }

		public DateTime Created { get; set; }

	}

	#endregion

}

@switch (startup())
{
	case StartStatus.INSTALL:
		SetupInfo si = setupPassword();
		if (si.State)
		{
			<style>
				.pt_admin_pages {
					font-weight: 500;
					background-color: red;
					color: white;
				}

				.pt_website {
					font-weight: 500;
					color: green;
				}

				.checkout {
					font-weight: 500;
					background-color: blue;
					color: white;
				}
			</style>
			<div id="divLoaded" class="row">
				<table id="tblItems">
					<thead>
						<tr>
							<th style="width:140px; font-size:large; color:blue; ">Action</th>
							<th style="width:1000px; font-size:large;">Message</th>
						</tr>
					</thead>
					<tbody>
						@for (var i = 0; i < si.Items.Count; i++)
						{
							<tr>
								@if (si.Items[i].Spacer)
								{
									<td></td>
									<td>@si.Items[i].ItemDescription</td>

								}
								else
								{
									<td><a href="@si.Items[i].ItemUrl" target="_blank" style="color:blue; text-decoration:underline">@si.Items[i].ItemName</a></td>
									<td>@si.Items[i].ItemDescription</td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		break;
	case StartStatus.PASSWORD_SEND:
		<div class="form-text forgot-password-instructions">
			@getPasswordRequest()
		</div>
		break;
	case StartStatus.PASSWORD_REQUEST:
		if (Model.PasswordResetAvailable)
		{
			using (Html.BeginForm(
				actionName: ActionNames.SignIn,
				controllerName: null,
				routeValues: new { returnUrl = Model.ReturnUrl, Activate = "password_send" },
				method: FormMethod.Post,
				htmlAttributes: new { @class = "form login-form" }))
			{
				<div id="password-recovery" class="form password-recovery-form">
					@Html.AntiForgeryToken()
					<div class="group-header form-header forgot-password-header">
						@Html.StringResource("signin.aspx.15")
					</div>

					<div class="form-text forgot-password-instructions">
						@Html.StringResource("signin.aspx.16")
					</div>
					<div class="row">
						<div class="col-sm-6">
							<input autocomplete="off" class="forgot-password-email form-control text-box single-line" data-val="true" data-val-length="Your email address must be 100 characters or less" data-val-length-max="100" data-val-regex="Please enter a valid email address" data-val-regex-pattern="^.+@@.+\..+$" data-val-required="Please enter your email address" id="inpForgotPasswordEmail" maxlength="100" name="ForgotEmail" placeholder="name@domain.com" required="required" type="email" value="" aria-required="true" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;" aria-invalid="false" aria-describedby="Email-error">
							<div class="page-action-bar forgot-password-actions">

								<input id="inputPassword" type="submit" class="btn btn-default request-password-button" value="@Html.StringResource("signin.aspx.18")" />

							</div>
						</div>
					</div>
				</div>
			}
		}
		break;
	case StartStatus.PASSWORD_CHANGE:
		PasswordTokenInfo pti = getPasswordTokenInfo();
		switch (pti.State)
		{
			case true:
				if (AppLogic.AppConfigBool("LostPassword.Password.Button.Loginwith"))
				{
					using (Html.BeginForm(
						actionName: ActionNames.SignIn,
						controllerName: null,
						routeValues: new { returnUrl = Model.ReturnUrl, Activate = "password_login_with" },
						method: FormMethod.Post,
						htmlAttributes: new { @class = "form login-form" }))
					{
						@Html.AntiForgeryToken()
						<div class="row form-group">
							<div class="col-sm-6">
								<label for="NewPassword">New Password</label>
								<input id="NewPassword" aria-describedby="newpassword_description" autocomplete="off" class="form-control text-box single-line password" data-val="true" data-val-length="You password must be 100 characters or less" data-val-length-max="50" data-val-required="Please enter your password." maxlength="50" name="NewPassword" placeholder="password" required="required" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-6">
								<label for="NewPasswordConfirmation">Confirm New Password</label>
								<input id="NewPasswordConfirmation" autocomplete="off" class="form-control text-box single-line password" data-val="true" data-val-length="You password must be 100 characters or less" data-val-length-max="50" data-val-required="Please enter your password." name="NewPasswordConfirmation" type="password" required="required" oninput="check(this)" />
							</div>
						</div>

						<div class="row form-group">
							<div class="page-action-bar change-password-actions col-sm-6">
								<input type="submit" class="btn btn-primary login-button" value="@getBtnSignInText(pti.TokenInfo.Where)" />
							</div>
						</div>
						<input name="PasswordToken" type="hidden" value="@getKeyValueFromQueryOrForms("passwordToken","PasswordToken")" />
						<input name="ReturnUrl" type="hidden" value="@Html.AttributeEncode(getKeyValueFromQueryOrForms("returnurl","ReturnUrl"))" />

					}

				}

				if (AppLogic.AppConfigBool("LostPassword.Password.Button.Loginwithout"))
				{
					using (Html.BeginForm(
						actionName: ActionNames.SignIn,
						controllerName: null,
						routeValues: new { returnUrl = Model.ReturnUrl, Activate = "password_login_without" },
						method: FormMethod.Post,
						htmlAttributes: new { @class = "form login-form" }))
					{

						@Html.AntiForgeryToken()
						<div class="row form-group">
							<div class="page-action-bar change-password-actions col-sm-6">
								<input type="submit" class="btn btn-primary login-button" value="@getBtnReturnText(pti.TokenInfo.Where)" />
							</div>
						</div>
						<input name="PasswordToken" type="hidden" value="@getKeyValueFromQueryOrForms("passwordToken","PasswordToken")" />
						<input name="ReturnUrl" type="hidden" value="@Html.AttributeEncode(getKeyValueFromQueryOrForms("returnurl","ReturnUrl"))" />

					}
				}
				break;
			default:
				<div class="form-text forgot-password-instructions">
					@pti.Message
				</div>
				break;
		}
		break;
	case StartStatus.PASSWORD_LOGIN_WITH:
		if (!runPasswordLoginWith())
		{
			goto case StartStatus.PASSWORD_CHANGE;
		}
		else
		{
			<div class="form-text forgot-password-instructions">
				@Html.StringResource("password.reset.token.logging")
			</div>
		}
		break;
	case StartStatus.PASSWORD_LOGIN_WITHOUT:
		if (!runPasswordLoginWithout())
		{
			goto case StartStatus.PASSWORD_CHANGE;
		}
		else
		{
			<div class="form-text forgot-password-instructions">
				@Html.StringResource("password.reset.token.logging")
			</div>
		}
		break;
	case StartStatus.ERROR:
		break;
	default:
		break;
}
